.about {
  position: relative;

  background-color: var(--dark-grey-1);

  &__checkers {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    @media #{$max-mobile-L} {
      display: block;
      width: 100%;
      height: auto;
    }

    div {
      width: 6rem;

      @media #{$max-mobile-L} {
        width: 100%;
        height: 1.5rem;
      }

      &:nth-child(1) {
        @include checkers(to bottom, 6rem, var(--white), var(--dark-grey-1));

        @media #{$max-mobile-L} {
          @include checkers(to right, 1.5rem, var(--dark-grey-1), var(--white));
        }
      }

      &:nth-child(2) {
        @include checkers(to bottom, 6rem, var(--dark-grey-1), var(--white));

        @media #{$max-mobile-L} {
          @include checkers(to right, 1.5rem, var(--white), var(--dark-grey-1));
        }
      }
    }
  }

  &__content {
    min-height: 100svh;
    padding-top: 20svh;
    padding-bottom: 20svh;
    padding-left: 5vw;

    @media #{$max-mobile-L} {
      min-height: 0;
      padding-top: 9.6rem;
      padding-bottom: 9.6rem;
      padding-left: 0;
    }
  }

  &__text {
    width: 81.6rem;
    max-width: 100%;
    margin: 0 auto;
    font-family: var(--font-secondary);
    font-size: 12.8rem;
    line-height: 0.53;
    letter-spacing: -0.06em;
    color: var(--white);

    @media #{$max-tablet-landscape} {
      width: 500px;
      font-size: 80px;
    }

    @media #{$max-mobile-L} {
      width: 100%;
      font-size: 4.8rem;
    }

    & ._pink {
      color: var(--pink);
    }

    & ._teal {
      color: var(--teal);
    }
  }
}
