.emerging-text {
  opacity: 0;
  transition: opacity $transition;

  &__word {
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: scaleY(0.6);

    &._active {
      opacity: 1;
      transform: none;
    }
  }
}

.emerging-text._ready {
  opacity: 1;
}
