.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark-grey-2);
  opacity: 0;
  animation: bounceInDown 1s forwards ease-out;

  &._at-top {
    z-index: auto;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 12rem;
    min-height: 80px;

    @media #{$low-desktop} {
      height: 8rem;
    }

    @media #{$horizontal-mobile}, #{$max-mobile-L} {
      height: 4rem;
      min-height: 40px;
      max-height: 60px;
    }
  }

  &__burger {
    position: relative;
    z-index: 5;
    margin-left: -0.8rem;

    // @media #{$max-desktop-M} {
    //   margin-left: -4px;
    // }

    @media #{$horizontal-mobile}, #{$max-mobile-L} {
      margin-left: -0.6rem;
    }
  }
}

body.loading {
  .header {
    // opacity: 0;
    animation: none;
  }
}
