<section class="hero">
  <div class="hero__content">
    <div id="hero-illustrations" class="hero__illustrations">
      <div id="hero-title" class="hero__title">
        <div class="hero__title-word _bit">
          <img src="/images/hero/bit.svg" alt="Bit" />
        </div>
        <div class="hero__title-word _block">
          <img src="/images/hero/block.svg" alt="Bit" />
        </div>
      </div>

      <div class="hero__figures">
        <div class="hero__figure _1">
          <div class="hero__figure-face">
            <img src="/images/tetris/l-yellow.png" />
          </div>
        </div>

        <div class="hero__figure _2">
          <div class="hero__figure-face">
            <img src="/images/tetris/t-teal.png" />
          </div>
        </div>

        <div class="hero__figure _3">
          <div class="hero__figure-face">
            <img src="/images/tetris/z-purple.png" />
          </div>
        </div>

        <div class="hero__figure _4">
          <div class="hero__figure-face">
            <img src="/images/tetris/l-red.png" />
          </div>
        </div>

        <div class="hero__figure _5">
          <div class="hero__figure-face">
            <img src="/images/tetris/z-teal.png" />
          </div>
        </div>

        <div class="hero__figure _6">
          <div class="hero__figure-face">
            <img src="/images/tetris/z-yellow.png" />
          </div>
        </div>

        <div class="hero__figure _7">
          <div class="hero__figure-face">
            <img src="/images/tetris/l-blue.png" />
          </div>
        </div>

        <div class="hero__figure _8">
          <div class="hero__figure-face">
            <img src="/images/tetris/l-red.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="hero__text container-wide">
      <div class="hero__action-text">press any key to continue</div>

      <nav class="hero__nav">
        <ul class="hero__nav-list">
          <li><a href="#" class="hero__nav-link">graphic and sound</a></li>
          <li><a href="#" class="hero__nav-link">discussion</a></li>
          <li><a href="#" class="hero__nav-link">post your works</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
