@import './mixins';
@import './reset';
@import './fonts';
@import './variables';

@import './blocks/container';
@import './blocks/burger';
@import './blocks/header';
@import './blocks/hero';
@import './blocks/about';
@import './blocks/cat-tetris';
@import './blocks/section-placeholder';

html {
  --font-primary: DINPro;
  --font-secondary: TookeelyBrookings;
  // overscroll-behavior: none;
}

body {
  font-family: --font-primary;
  font-size: 24px;
  line-height: 1.6;
  background-color: var(--grey-1);
  touch-action: pan-x pan-y;
}
